body
{
    margin: 0;
    padding: 0;
    font-size:16px;
    color: #777;
    font-family:sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(main.jpg);
   background-position: center;
   font-weight: 300 ; 
}
.login
{
   position: relative ;
   margin: 10% auto;
   height: 400px;
   width: 600px;
   background: rgba(0,0,0,0.4);
   box-shadow: 0 2px 4px rgba(0,0,0,0.8);
}